__pycache__
*.pyc
*.pyo
*.pyd
env/
env.bak/
venv/
venv.bak/
ENV/
ENV.bak/
.env
.venv/
node_modules/
node_modules
dist
.npm
.git
.gitignore
README.md
Dockerfile
.dockerignore
*.log
*.tmp
.vscode/
.idea/
*.md
render.yaml